server:
  port: 8082
  servlet:
    contextPath: /v1

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/invoice_management
    username: postgres
    password: postgres
    hikari:
      connectionTimeout: 20000
      maximumPoolSize: 5
  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
  liquibase:
    change-log: classpath:/db/dbchanges_master.yaml

logging:
  level:
    liquibase: INFO

external:
  url:
    product: http://localhost:8081
    customer: http://localhost:8080
